<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>262606664774-2l82va0qoj6csqd475eemb4ijh5soecq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262606664774-2l82va0qoj6csqd475eemb4ijh5soecq</string>
	<key>API_KEY</key>
	<string>AIzaSyA1a3WzOEzW6BM26cQGA7ckmkzlou1XQGU</string>
	<key>GCM_SENDER_ID</key>
	<string>262606664774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Panda-Life.Comfy-Notes</string>
	<key>PROJECT_ID</key>
	<string>comfy-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>comfy-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:262606664774:ios:17c1ea11705f2628</string>
	<key>DATABASE_URL</key>
	<string>https://comfy-notes.firebaseio.com</string>
</dict>
</plist>